@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

.App {
  overflow: hidden;
  font-family: "Inter", "Roboto", "Segoe UI", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.blur {
  filter: blur(2px);
  backdrop-filter: blur(6px);
}

.cartContainer {
  /* background-image: url("https://i.imgur.com/5yeBVeM_d.webp?maxwidth=760&fidelity=grand"); */
}


.container1 {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 438px;
  top: 11%;
  /* problema e cal se pune pe toti view port */
  /* mie imi trb viewport numa pe mobile, pe comp se poate cu viewport din container */
  /* top: 0%; */

  background: #f0f2f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.productGroup {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
}
.prodImg {
  /* position: absolute; */
  width: 96px;
  height: 96px;

  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

h5 {
  font-size: 0;
  margin: 0;
}

.productDetails {
  margin-left: 16px;
}

.prodName {
  height: 24px;
  /* Light/base semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: -0.006em;

  /* Grey/Grey 90 */

  color: #111827;
}

.specs {
  margin-top: 4px;
  height: 20px;

  /* Light/small regular */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Grey/Grey 50 */

  color: #6b7280;
}

.specsDetails {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Grey/Grey 90 */

  color: #111827;
}

.arrow {
  color: #9ca3af;
  margin-left: 3px;
  margin-bottom: 1px;
}

.separator {
  margin-top: 24px;
  margin: 24px auto 16px auto;
  width: 338px;
  height: 1px;

  /* Grey/Grey 20 */

  background: #e5e7eb;
}

.costsVariables {
  display: flex;
  justify-content: space-between;
}
.costsVariables2 {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.variables {
  height: 20px;
  margin-left: 28px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #6b7280;
}

.pricing {
  margin-right: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #111827;
}

.subvariable {
  margin-left: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 20px;
  /* or 333% */

  /* #333333 - Dark Grey */

  color: #333333;
}

.subvar {
  margin-top: -4px;
}

.sub {
  font-size: 12px !important;
}

.sub2 {
  margin-top: -4px;
}

.total {
  /* Light/small semibold */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* or 167% */

  /* Grey/Grey 90 */

  color: #111827;
}


@media (min-width: 950px) {
  .container1 {
    max-width: 390px;
    max-height: 844px;
    margin: 0 auto;
    width: 50%;
  }
}
