.veryfast-button{
    background-color: black;
    padding: 7px;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.ic-frame-main-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999992;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}
.ic-frame-loader-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 99999991;
}
.ic-loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF !important;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.ic-loading-text {
    margin: 0;
    margin-top: 10px;
    color: white !important;
    font-weight: 400;
    font-size: 13px;
}
.ic-frame-loader-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 99999991;
}


.ic-frame-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    z-index: 99999993;
}

.ic-frame {
    border: none !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding: 0 !important;
    overflow: hidden !important;
    border-radius: 8px;
    width: 480px !important;
    height: 660px;
    transition: all 1s ease-in-out;
}